body{
  background-color: black;
  color: white;
}

.navbar{
  background-color: black;
  height: 60px;
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 0.05px groove rgb(48, 47, 47);
  justify-content: center;

}
.navbar .menu{
  display: flex ;
  gap: 50px;
}
.navbar a {
  color: white;
  text-decoration: none; 

}
.navbar a:hover {
  color: red;
}


.pic{
  width: 50%;
  height: 50%;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 100px;

}
.header .socials{
  flex-basis: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
